* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: DotGothic16, sans-serif;
    color: #121E2A;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    padding: 0;
    background-color: #FFFEFB;
    /* background graphic test */
    /* background-image: url(images/anim\ portal.png);
    image-rendering: pixelated;
    background-position: top center;
    background-repeat: no-repeat; */
}

#container {
    max-width: 1200px;
    max-height: 750px;
    margin: 0 auto;
    min-width: 800px;
}

/* header */
header {
    position: relative;
}


/* banner w animation */
#banner {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.banner-background {
    width: 100%;
    height: 100%;
    background-image: url('images/anim\ banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: float-image 6s ease-in-out infinite;
}

@keyframes float-image {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, -8px);
    }
    50% {
        transform: translate(-8px, 5px);
    }
    75% {
        transform: translate(5px, 8px);
    }
}


/* main */
main {
    display: flex;
    gap: 20px;
    padding: 0 50px 50px;
}

/* columns */
.card {
    flex: 1;
    background-color: rgba(255, 254, 251, 0.5);
    border-image: url(images/border\ img\ 3.png) 7 / 7px / 0 round;
    border-width: 5px;
    border-style: solid;
    
    padding: 30px 25px;
    transition: all 0.4s ease;
    cursor: pointer;
    min-height: 250px;
}

.card:hover {
    background-color: #121E2A;
    transform: scale(1.01);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-family: 'Courier Prime', monospace;
    font-size: 1.2rem;
    font-weight: 700;
    color: #121E2A;
    margin-bottom: 25px;
    font-style: normal;
    transition: color 0.4s ease;
}

.card:hover h2 {
    color: #DCE7ED;
}

ul {
    list-style-type: none
}

li, a {
    margin-bottom: 8px;
    color: #121E2A;
    font-size: 0.95rem;
    transition: color 0.4s ease;
    text-decoration: none;
}

.card:hover a {
    color: #DCE7ED;
}

.card a:hover {
    text-decoration: underline;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 40px;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.6;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

footer a {
    color: #2a569d;
    transition: opacity 0.3s ease;
}

footer a:hover {
    opacity: 0.6;
}
