body {
  background-color: #FFFEFB;
  font-family: "Instrument Serif", monospace;
  word-spacing: 3px;
}

h1, h2 {
    /* font-family: "Doto", sans-serif; */
    font-family: "DotGothic16", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 0;
    margin:0;
}

header {
    display: flex;
    background-color: white;
    font-size: 0.5em;
    padding: 1em;
    padding-left: 2em;
    justify-content: space-between;
    border-bottom: 0.75px solid black;
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    z-index: 999;
}
.column-contain {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 6fr 1fr;
    padding: 5em;
}
    
a {
    color: #121E2A;
    text-decoration: none;
}

a:hover {
    color: #5d86ac;
}

/* left side */
aside {
    padding: 30px 50px 20px 60px;
    grid-column: 1;
    /* position: fixed;
    margin-left: 2em; */
}

.box {
    margin: auto;
    width: 400px;
}

.title {
    font-size: 18px;
    border-top: 1px solid #121E2A;
    border-right: 1px solid #121E2A;
    border-left: 1px solid #121E2A;
    background-color: #eaeaea;
    padding: 0.5em;
}

.date {
    font-size: 18px;
    border-top: 1px solid #121E2A;
    border-right: 1px solid #121E2A;
    border-left: 1px solid #121E2A;
    background-color: #121E2A;
    padding: 0.5em;
    color: #eaeaea;
}

#listbox {
    background-color: white;
    border: 1px solid #121E2A;
    display: flex;
    justify-content: space-between; 
}

ul { 
    margin:0;
    padding:0;
    font-size: 16px;
}

#entries { 
    padding: 0.5em 0.8em 0.5em 1.5em;
}

#dates {
    padding: 0.5em 0.8em 0.5em 0.6em;
    color: #949ca5e6;
}

/* entries full */

.content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 10px;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    margin-bottom: 10px;
}

.entry-writing {
    flex: 1;
    font-size: 17px;
    margin-right: 20px;
}

.post-title {
    font-family: "Doto", sans-serif;
    margin-left: 16px;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 30px;
}

/*internal pages*/
main {
    padding: 5px 30px 30px 30px;
    grid-column: 2;
    margin-right: 4em;
}

.folder {
    padding-bottom: 4em;
}

article {
    position: relative;
    width: 800px;
    height: auto;
    background-color: white;
    margin: auto;
    border: 1px solid #121E2A;
}

#post-title {
    font-size: 30px;
}

#post-date {
    font-size: 15px;
    margin-left: 16px;
    text-align: left;
}
    
.post-header {
    max-width: 90%;
    max-height: 92%;
    padding-top: 0.8em;
    padding-left: 1.2em;
}

#post-content {
    padding: 0.5em 1.5em 1em 1.5em;
    line-height: 20px;
}
